Options +FollowSymLinks
RewriteEngine On

RewriteRule ^api/create$ ./Api.php?endpoint=create
RewriteRule ^api/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/status$ ./Api.php?endpoint=status&merchantid=$1&invoice=$2
